<div class="container">
  <div class ="edit_form">
    <form action="/posts/<%=@post.id%>/edit" method="post">
      <div><label><h3>Title</h3></label></div>
      <input name="form[title]" type="text" value="<%=@post.title%>">

      <div><label for="content"><h3>Content</h3></label></div>
      <textarea cols="40" rows="5" id="content" name="form[body]"><%=@post.body%></textarea>

      <div><label for="tags"><h3>Tags</h3></label></div>
      <input name="form[tags]" id="tags" value="<%=@post.tag_list%>">
      <div><input type="submit" value="Update"></div>
    </form>
  <%= erb :errors if @errors%>
  </div>
</div>

