<div class="container">
  <div class="blog_posts">
    <% @posts.each do |post| %>
    <div class="blog_post">
      <h2><%= post.title %></h2>
      <div class="body">
        <%= post.body %>
      </div>

      <form class="delete_form" action="/posts/<%=post.id%>" method="post">
        <input class="btn btn-danger" type="submit" value="Delete">
        <input name="_method" type="hidden" value="delete">
        <input name="id" type="hidden" value="<%=post.id%>">
      </form>

      <form class="edit_form" action="/posts/<%=post.id%>/edit" method="get">
        <!-- <input class="btn" type="submit" value="edit"> -->
        <button type="submit" class=".edit btn">
          <i class="icon-edit"></i> Edit
        </button>
      </form>
    </div>
    <% end %>
  </div>
</div>
