<div class="container">
  <h2>Tagged with: <%=@tag.name.capitalize%></h2>
    <% @tag.posts.each do |post| %>
    <div class="blog_post">
      <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
      <div class="body">
        <%= post.body %>
      </div>
      <div class="tags">
        <ul>
          <% post.tags.each do |tag| %>
          <li><a href="/tags/<%=tag.name%>"><%=tag.name%></a></li>
          <% end %>
        </ul>
      </div> 

      <form class="delete_button" action="/posts/<%=post.id%>" method="post">
        <input class="danger" type="submit" value="Delete">
        <input name="_method" type="hidden" value="delete">
        <input name="id" type="hidden" value="<%=post.id%>">
      </form>

      <form class="edit_button" action="/posts/<%=post.id%>/edit" method="get">
        <input type="submit" value="edit">
      </form>
    </div>
    <% end %>
</div>